/*.main-page{
	background: url(http://i.kinja-img.com/gawker-media/image/upload/tndkklvnxeoprzcusexl.jpg);
	height: 700px;
}*/
body{
	font-family: 'Antic', sans-serif;
}
.top-main{
	min-height: 750px;
}
.top-header{
	background-color: rgba(0,0,0,0.5);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	text-align: right;
	/*font-size: 20px;*/
	position: fixed;
	z-index: 1;
	width: 100%;
}
.top-links{
	padding-left: 17px;
}
.bottom-links{
	padding-left: 20px;
}
.bottom-linksa{
	font-size: 25px;
	padding-left: 50px;
	
}

.main-center{
	background-color: rgba(0,0,0,0.5);
	text-align: center;

	/*margin-left: 30%;*/
	/*margin-right: 30%;*/
	position: relative;
	/*top: 180px;*/
	padding-top: 200px;
	height: 750px;
}

.project{
	/*padding-top: 50px;*/
	/*height: 130%;*/
	/*width: 250%;*/
	/*border-radius: 300px;*/
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 5px 27px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: 0px 5px 27px -3px rgba(0,0,0,0.74);
	box-shadow: 0px 5px 27px -3px rgba(0,0,0,0.74);
}
.h1-project{
	padding-bottom: 50px;
}
.matt{
	color: white;
	font-size: 40px;
}
.top-skills{
	padding-right: 10%;
	padding-left: 20%;
	padding-bottom: 30px;
	width: 100%;
}
.skill-rows{
	height: auto;
	width: 30%;
	/*margin-left: 30px;*/
	/*padding-right: 10%;*/
}
.skill-title{
	padding-bottom: 50px;
}
.matt-title{
	color: white;
	font-size: 20px;
}
.line-border{
	border: 1px solid #D8D8D8;
	margin-left: 43%;
	margin-right: 43%;
	position: relative;
	top: -15px;
}
.work-border{
	border: 1px solid #D8D8D8;
	margin-left: 46%;
	margin-right: 46%;
	position: relative;
	top: -46px;
}
.skill-border{
	border: 1px solid #D8D8D8;
	margin-left: 46%;
	margin-right: 46%;
	position: relative;
	top: -40px;
}
.matt-img{
	height: auto;
	width: 50%;
	border-radius: 55px;
}
.about-me{
	min-height: 650px;
	text-align: center;
	padding-top: 85px;
	margin-bottom: 90px;
	/*padding-bottom: 500px;*/
}
.quote{
	font-style: italic;
	font-size: 20px;
}
.my-skills{
	min-height: 500px;
	text-align: center;
	padding-top: 70px;
	/*padding-left: %;*/
}
.about-paragraph{
	font-size: 23px;
	padding-left: 40px;
	padding-top: 50px;
}
#coming-soon{
	position: relative;
	text-align: center;
	left: -50px;
	top: 15px;
}
/*.car-it{
	background: url(./img/carit.png);
	height: 810%;
	width: 100%;
	background-repeat: no-repeat;
	background-size:contain;
	background-position:center;
}*/
/*.parallax-window {
    min-height: 400px;
    background: transparent;
}*/
.bottom-links{
	font-size: 30px;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}
.hideme{
	display: none;
	visibility: hidden;
}
.showme{
	visibility: initial;
	position: absolute;
	pointer-events: none;
	color: white;
	top: 13%;
	left: 20%;
	right: 20%;
	background-color: rgba(0,0,0,0.7);
	padding-bottom: 3%;
	padding-top: 3%;
	padding-left: 10px;
	padding-right: 10px;

}
.inner-project-container{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    display: table-cell;
    vertical-align: middle
}
.my-work{
	background-color: gray;
	padding-top: 50px;
	padding-bottom: 120px;
	min-height: 800px;
	text-align: center;
	width: 100%;
	/*padding-left: 350px;*/
}
.ga-logo{
	width: 50px;
    height: auto;
}
.resume-logo{
	width: 40px;
    height: auto;
    top: -5px;
    position: relative;
}
.launch{
	border: 1px solid red;
	margin-left: 30%;
	margin-right: 30%;
}
.freelance{
	min-height: 650px;
	text-align: center;
	padding-top: 85px;
	margin-bottom: 90px;
	background-color: gray;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: white;
}

@media (min-width: 1550px){
    .my-work{
		background-color: gray;
		padding-top: 50px;
		padding-bottom: 120px;
		min-height: 800px;
		text-align: center;
		width: 100%;
		padding-left: 10%;
		padding-right: 10%;
	}
	
	
}

@media(min-width: 767px){
	.my-work{
		background-color: gray;
		padding-top: 50px;
		padding-bottom: 120px;
		min-height: 800px;
		text-align: center;
		width: 100%;
	}
}

